/*=============================================>>>>>
= Typography Mixins and Variables =
===============================================>>>>>*/

// Font weight variables
// NOTE: Use 400 and 700 weights only
// $font-weight-thin: 100;
$font-weight-extra-light: 200;
// $font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
// $font-weight-semi-bold: 600;
$font-weight-bold: 700;
// $font-weight-extra-bold: 800;
// $font-weight-black: 900;

$font-family-alt: 'Founders Grotesk', sans-serif;
$font-family: 'Founders Grotesk', sans-serif;

@mixin heading-font() {
  font-family: 'Founders Grotesk', sans-serif;
  font-weight: $font-weight-bold;
}

@mixin body-font() {
  font-family: 'Founders Grotesk', sans-serif;
  font-size: 16px;
  font-weight: $font-weight-extra-light;
  line-height: 1.6em;
  @include media-down(mobile) {
    font-size: 14px;
  }
}

@mixin tagline() {
  font-family: 'Founders Grotesk', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: $font-weight-medium;
}

@mixin button() {
  font-family: 'Founders Grotesk', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: $font-weight-medium;
}

@mixin h1 {
  @include heading-font();
  font-size: 30px;
  line-height: 1.1em;
  font-weight: $font-weight-regular;
  @include media-down(large-mobile) {
    font-size: 25px;
  }
}

@mixin h2 {
  @include heading-font();
  font-size: 30px;
  line-height: 1.2em;
  font-weight: $font-weight-regular;
  @include media-down(tablet) {
    font-size: 25px;
  }
}

@mixin h3 {
  @include heading-font();
  font-size: 26px;
  line-height: 1.3em;
  font-weight: $font-weight-regular;
  @include media-down(tablet) {
    font-size: 22px;
  }
}

@mixin h4 {
  @include heading-font();
  font-size: 20px;
  line-height: 1.3em;
  font-weight: $font-weight-regular;
  @include media-down(tablet) {
    font-size: 18px;
  }
}

@mixin h5 {
  @include heading-font();
  font-size: 16px;
  line-height: 1.5em;
}
