.sectionContainer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: calc(100vh - 180px);
  text-align: center;
  position: relative;

  h2 {

    padding: 20px;

  }

  p {

    width: 75%;

    @include media-up(tablet) {
      font-size: 20px;
      line-height: 28px;
      width: 50%;
    }

  }

  a {

    font-size: 26px;
    padding: 7px;
    margin-top: 80px;

    @include media-down(tablet) {

      margin-top: 40px;

    }

  }

}
