.sectionContainer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 180px);
  text-align: center;
  position: relative;

  h2 {

    margin: 50px;

  }

  p {

    font-size: 20px;
    line-height: 28px;
    width: 50%;

  }

}
