* {

  font-family: 'Founders Grotesk', sans-serif;

}

body {

  background-color: $primary;
  // position: fixed;
  width: 100%;

}

header {

  position: fixed;
  width: 100%;

}

.mainContainer {

  background-color: $primary;
  color: $textcolor;

}

:global(.sectionContainer) {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 180px);
  text-align: center;
  position: relative;

}

h2 {

  text-align: center;
  margin-bottom: 40px;

  @include media-down(tablet) {

    margin-bottom: 20px;

  }

}

a {

  margin: 0;
  font-family: 'Cormorant', serif;
  font-style: italic;
  padding: 6px 6px 2px 6px;
  border-bottom: 1px solid black;
  transition: 0.2s;
  transition-property: color background-color;

}

a:hover {

  color: $primary;
  background-color: $secondary;
  text-decoration: none;

}

p {

  font-weight: $font-weight-extra-light;

}

::-moz-selection {
  color: $primary;
  background: $secondary;
}

::selection {
  color: $primary;
  background: $secondary;
}
