.header {
  
}

h1 {

  position: absolute;
  left: 30px;
  top: 30px;

}

.container {
  padding: 14px 0;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  position: absolute;
  right: 30px;
  top: 30px;
  .button {
    padding: 5px 35px;
  }
}
