.footer {
  padding: 20px 0;

  @include media-down(tablet) {

    margin-bottom: 30px;

  }

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include media-down(mobile) {
    text-align: center;
  }
}

.sitemap {
  text-align: center;
  font-size: 12px;
  width: 100%;
}
