.coffeesContainer {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  //
  // @include media-down(mobile) {
  //   display: block;
  // }

}

.coffeeCard {

  min-width: 350px;
  max-width: 400px;
  margin: 0 45px;

  a {

    @include button;
    font-style: normal;
    cursor: pointer;

  }

}

.coffeeRegionTagline {

  @include tagline;
  padding: 10px;

}

.coffeeRegionTitle {

  font-size: 36px;
  padding: 10px;
  margin-bottom: 40px;

}

.coffeeInfoContainer {

  width: 100%;
  position: relative;
  margin-top: 20px;

  .infoRowItem {

    border-bottom: 1px solid black;
    padding: 9px 0 2px 0;
    width: 100%;
    font-weight: $font-weight-medium;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;

    span:last-child {

      font-weight: $font-weight-regular;
      position: absolute;
      right: 0;

    }

  }

  .infoRowItem:last-child {

    border-bottom: none;

  }

}

.coffeeProducedBy {

  margin: 30px 0 50px 0;
  font-size: 14px;
  font-weight: $font-weight-medium;
  text-transform: uppercase;

}

.coffeeProducedByValue {

  font-size: 26px;
  text-transform: none;
  font-weight: $font-weight-regular;
  font-family: $font-family-alt;
  font-style: italic;
  margin: 2px 0 50px 0;

}

.moreInfoAnchor {

  margin-bottom: -300px;

}
